<%
	for(var i=0;i< data.length;++i){
		var vo = data[i];
%>
	<li data-no='<%=vo.no%>'> 
		<strong><%=vo.name%></strong>
		<p><%=vo.contents.replace(/\n/gi, "<br>")%></p>
		<strong></strong>
		<a href='' data-no='<%=vo.no%>'>삭제</a>
	</li>
<%
	}
%>